#drum-title {
    padding: 20px;
    color: '#bbbbbb';
    text-align: center;
}

.drum-img {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    max-width: 100%;
}

